In [17]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_absolute_percentage_error

from src.pp import find_paired_permutation_test

In [2]:
# Load Dataset
data = pd.read_csv('./dataset/insurance.csv', header=0)

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Filter missing values

In [4]:
# Check if there is any missing value in the dataset
row_missing_values = data.isnull().values.any()
print(row_missing_values)

# Remove rows with any missing values
if row_missing_values:
    data = data.dropna()

False

## For simplicity using Label Encoding

In [5]:

# Convert categorical value to numerical values
smoker_dict = {'yes': 1, 'no':0}
sex_dict    = {'female':1, 'male':0}
region_dict = {'southwest':0, 'southeast':1, 'northwest':2, 'northeast':3}

df_new = data.copy()

df_new['sex']    = df_new['sex'].apply(lambda x: sex_dict[x.lower()])
df_new['smoker'] = df_new['smoker'].apply(lambda x: smoker_dict[x.lower()])
df_new['region'] = df_new['region'].apply(lambda x: region_dict[x.lower()])

df_new

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       1       0  16884.92400
1      18    0  33.770         1       0       1   1725.55230
2      28    0  33.000         3       0       1   4449.46200
3      33    0  22.705         0       0       2  21984.47061
4      32    0  28.880         0       0       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       0       2  10600.54830
1334   18    1  31.920         0       0       3   2205.98080
1335   18    1  36.850         0       0       1   1629.83350
1336   21    1  25.800         0       0       0   2007.94500
1337   61    1  29.070         0       1       2  29141.36030

[1338 rows x 7 columns]

## Create Training and Testing Dataset

In [6]:
X = df_new.drop(['charges'], axis=1)
y = df_new['charges']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

## Select models

In [14]:
linear = LinearRegression()
DT     = DecisionTreeRegressor()
svm    = SVR()
model1_name = 'Linear'
model2_name = 'SVM'

In [23]:
dataset = (X_train, X_test, y_train, y_test)
output  = find_paired_permutation_test(dataset, linear, DT, model1_name, model2_name, r2_score)
output  = find_paired_permutation_test(dataset, linear, DT, model1_name, model2_name, mean_absolute_percentage_error)

In [ ]:
output